black
numpy
nypl-py-utils[avro-client,kinesis-client,postgresql-client,redshift-client,s3-client,config-helper,obfuscation-helper]==1.3.2
pandas
pytest
pytest-freezer
pytest-mock
python-geosupport
requests
requests-mock
unidecode
usaddress